<!-- Remove the container if you want to extend the Footer to full width. -->
{% load static%}
{% comment %} {% block content %} {% endcomment %}

<link rel="stylesheet" href="{% static 'home/css/footer.css'%}">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: rgb(0, 0, 0)">
        <!-- Grid container -->
          <div class="container">
          <!-- Section: Links -->
          
          <!-- Section: Links -->
    
          <hr class="my-5" />
    
          <!-- Section: Text -->
          <!-- <section class="mb-5">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-8">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                  distinctio earum repellat quaerat voluptatibus placeat nam,
                  commodi optio pariatur est quia magnam eum harum corrupti
                  dicta, aliquam sequi voluptate quas.
                </p>
              </div>
            </div>
          </section> -->
          <!-- Section: Text -->
    
          <!-- Section: Social -->
          <section class="text-center mb-5">
            <a href="" class="text-white me-4">
              <i class="fa fa-facebook-f"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fa fa-google"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fa fa-instagram"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fa fa-linkedin"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fa fa-github"></i>
            </a>
          </section>
          <!-- Section: Social -->
        </div>
        <!-- Grid container -->
    
        <!-- Copyright -->
        <div
             class="text-center p-3"
             style="background-color: rgb(0, 0, 0)"
             >
          © 2021 Copyright:
          <a class="text-white" href=""></a
            >
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->