{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<form action="{%url 'register'%}" method="POST" class="form elevated">
    {% csrf_token %}

    <fieldset class="border p-2">
        <legend  class="w-auto">Welcome to AMDb</legend>
        {{ form|crispy }}
     </fieldset>
    
    <button class="btn checked-bg" type="submit">Continue</button>

</form>

<div class="border-top pt-3">
    <small class="text-muted">
        Already have an account?  <a class="ml-2" href="{%url 'home'%}">Sign In</a>
    </small>
</div>
{% endblock %}